body {
  font-size: 16px;
  line-height: 27px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgb(245, 245, 245);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

:root {
  --color-primary: #fff;
  --color-title: rgb(26, 17, 16);
  --color-hover: rgba(57, 97, 136, 0.1);
  --color-hover2: rgba(57, 96, 136, 0.027);
  --color-input: rgba(57, 97, 136, 0.03);
  --color-alpha: rgba(111, 112, 112, 0.479);
  --color-separator: rgba(31, 31, 31, 0.1);
  --color-line: rgb(220, 225, 230);
  --color-link: rgb(89, 134, 185);
  --color-link-active: rgb(51, 131, 223);
  --color-btn: rgb(209, 229, 245);
  --field-border: #d3d9de;
  --field-title: #656565;
  --field-error: rgb(255, 73, 73);
  --form-btn: #0071f0;
}

@media (max-width: 1000px) {
  .container {
      max-width: 960px;
  }
}