.menu {
    border-radius: 20px;
    height: 350px;
    width: 150px;
    margin-right: 6px;

}

.list img {
    margin-top: 3px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin-right: 7px;
}

.list {
    font-size: 14px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.list:hover {
    background-color: var(--color-hover);
}

.menu a {
    color: black;
}

a.active {
    color: var(--color-link);
}