.paginator {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 15px;
}

.page {
    border: 1px solid rgba(172, 172, 172, 0.5);
    width: 25px;
    text-align: center;
    font-size: 14px;
    margin: auto 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-weight: 300;
    background-color: var(--color-primary);
}

.pageActive {
    color: var(--color-primary);
    background-color: var(--color-link-active);
    border: 1px solid var(--color-link-active);
}

.pagination_btn {
    margin: auto 5px;
    width: 12px;
    height: 12px;
    border: none;
    object-fit: cover;
    cursor: pointer;
}

.pagination_btnHidden {
    margin: auto 5px;
    width: 12px;
    height: 12px;
    visibility: hidden;
}